{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": ["error", 4],
        "no-console": "off"
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
